.all-tweets{
  border: solid;
  border-width: 2px;
  border-color: #d7d7d7;
  border-radius: .5em;
  border-bottom-style: none;
  padding-bottom: -1em;
  margin-top: 20px;
}

.all-tweets article header h2 {
  background-color: #e8e8e8;
  text-align: left;
  padding-top: 10px;
  padding-left: 70px;
  margin: 0;
  padding-bottom: 30px;
  margin-bottom: 10px;
}
/*.all-tweets article :hover {
  background: #e8e8e8;
  text-shadow: #e8e8e8;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}*/
.all-tweets article em {
  float: right;
  padding-right: 2%;
  padding-top: 5px;
  font-size: medium;
  font-weight: normal;
}

.all-tweets article img {
  border-radius: .5em;
  float: left;
  margin-top: 8px;
  margin-left: 8px;
}
.all-tweets article p {
  border: solid;
  border-color: white;
  background-color: white;
  text-align: left;
  margin-top: 4%;
  margin-bottom: 6%;
  padding-left: 5px;
  padding-top: 20px;
  padding-bottom: 10px;
}

.all-tweets article footer {
  border: solid;
  border-color: #d7d7d7;
  border-width: 2px;
  border-bottom-right-radius: .5em;
  border-bottom-left-radius: .5em;
  background-color: white;
  margin-top: 20px;
  margin-right: -.7%;
  margin-left: -.5%;
  font-size: small;
  text-align: left;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
}
.all-tweets article footer img {
  float: right;
  padding-bottom: 8px;
  padding-right: 8px;
  margin:0;
  margin-bottom: 4px;
}
